n8n-workflow/vpa-certification-workflow.json
{
    "name": "VPA Photo Certification",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vpa-certify",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": false
                }
            },
            "id": "node-webhook",
            "name": "📥 Receive Certification Request",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "vpa-certify"
        },
        {
            "parameters": {
                "jsCode": "// ── Extract fields from the incoming request ──────────────────────────\nconst body = $input.first().json.body || $input.first().json;\n\nconst vpaId          = body.vpaId         || 'VPA-UNKNOWN';\nconst productName    = body.productName   || 'Unknown Product';\nconst batchId        = body.batchId       || 'N/A';\nconst issueDate      = body.issueDate     || new Date().toISOString().split('T')[0];\nconst registryUrl    = body.registryUrl   || `https://vparegistry.com/id/${vpaId}`;\nconst certifiedImageBase64 = body.certifiedImageBase64 || '';\n\nreturn [{\n  json: { vpaId, productName, batchId, issueDate, registryUrl, certifiedImageBase64 }\n}];"
            },
            "id": "node-extract",
            "name": "🔍 Extract & Validate Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "name": "={{ $json.vpaId }}-certified.png",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "VPA-Certificates",
                    "mode": "list"
                },
                "binaryData": false,
                "mediaUrl": "={{ 'data:image/png;base64,' + $json.certifiedImageBase64 }}"
            },
            "id": "node-drive-upload",
            "name": "☁️ Upload to Google Drive",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getShareLink",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                }
            },
            "id": "node-drive-link",
            "name": "🔗 Get Public Image URL",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "VPA_Tracking_ID": "={{ $('🔍 Extract & Validate Data').item.json.vpaId }}",
                        "Cert_Issue_Date": "={{ $('🔍 Extract & Validate Data').item.json.issueDate }}",
                        "Manufacturer_Name": "={{ $('🔍 Extract & Validate Data').item.json.productName }}",
                        "Device_Metadata": "={{ 'Batch: ' + $('🔍 Extract & Validate Data').item.json.batchId }}",
                        "Master_Image_URL": "={{ $json.webViewLink || $('🔍 Extract & Validate Data').item.json.registryUrl }}",
                        "Product_Name": "={{ $('🔍 Extract & Validate Data').item.json.productName }}",
                        "Certified_Image_URL": "={{ $json.webViewLink || '' }}"
                    }
                },
                "options": {}
            },
            "id": "node-sheets",
            "name": "📊 Write to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ vpaId: $('🔍 Extract & Validate Data').item.json.vpaId, certifiedImageUrl: $('🔗 Get Public Image URL').item.json.webViewLink || '', registryUrl: $('🔍 Extract & Validate Data').item.json.registryUrl, success: true }) }}"
            },
            "id": "node-respond",
            "name": "✅ Respond to Next.js",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "📥 Receive Certification Request": {
            "main": [
                [
                    {
                        "node": "🔍 Extract & Validate Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Extract & Validate Data": {
            "main": [
                [
                    {
                        "node": "☁️ Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "☁️ Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "🔗 Get Public Image URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔗 Get Public Image URL": {
            "main": [
                [
                    {
                        "node": "📊 Write to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Write to Google Sheets": {
            "main": [
                [
                    {
                        "node": "✅ Respond to Next.js",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "staticData": null,
    "tags": [
        "vpa-registry"
    ],
    "triggerCount": 0,
    "updatedAt": "2026-03-10T00:00:00.000Z",
    "versionId": "1"
}